11 ICON "../../data/placeholder_patache_icon.ico"
1 VERSIONINFO
 FILEVERSION 0,0,0,0
 PRODUCTVERSION 1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "Comments", "Ejemplo Trianglr"
			VALUE "CompanyName", "Sendan"
			VALUE "FileDescription", "Ejemplo Triangle"
			VALUE "FileVersion", "0, 0, 0, 0"
			VALUE "InternalName", "Ejemplo Triangle"
			VALUE "LegalCopyright", "Copyright (c) 2023 Sendan"
			VALUE "OriginalFilename", "Triangle"
			VALUE "ProductName", "Triangle"
			VALUE "ProductVersion", "1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x040A, 0x040A
	END
END
